body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
section{
    padding: 0 100px;
    background: url(./Image/Wall.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    position: relative;
  padding: 50px 50px 50px 60px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
#buttons{
    border-radius: unset;
  font-family: sans-serif;
}